# Copy this file to /etc/udev/rules.d/

ACTION!="add|change", GOTO="ftdi_cpu_prog"
SUBSYSTEM!="usb|tty|hidraw", GOTO="ftdi_cpu_prog"

# Original FT232/FT245 VID:PID
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="664", GROUP="plugdev", TAG+="uaccess"
# Original FT231X VID:PID
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", MODE="664", GROUP="plugdev", TAG+="uaccess"

LABEL="ftdi_cpu_prog"
